* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    border-radius: 5%;
}

h3,
h4,
h5 {
    font-weight: 500;
}